.container {
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(122, 163, 126, 1) 0%,
    rgba(228, 225, 113, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.controls {
  display: flex;
  justify-content: center;
}

.control {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  filter: grayscale(70%);
  margin-right: 10px;
  cursor: pointer;
  overflow: hidden;
}

.control-active {
  transform: scale(1.3);
  filter: none;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 450px;
  max-height: 450px;
  position: relative;
  margin-top: 30px;
}

.slides {
  position: relative;  
  margin: 0;
}

.slide {
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
}

.img {
  display: none;
}

.img-active {
  display: block;
  animation: animationSlider 1.2s;
}

.previous,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
  color: rgba(189, 189, 189, 0.801);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.4s;
  z-index: 10;
}

.previous:hover,
.next:hover {
  color: #fff;
}

.previous {
  left: 15px;
}

.next {
  right: 15px;
}

@keyframes animationSlider {
  from {
    transform: translateX(-100%) scale(0.5);
    filter: grayscale(70%);
  }

  to {
    transform: translateX(0) scale(1);
    filter: none;
  }
}